:root {
  font-family: 'Inter', sans-serif;
  color: $_main_color;
  background: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
    padding-right: 80px;
    padding-left: 80px;
  }
}

.section {
  scroll-margin-top: 40px;

  @include media(desktop) {
    scroll-margin-top: 60px;
  }
}

.section-title {
  text-shadow: 0 0 20px rgba(254, 100, 1, 0.8);
  font-family: 'Consolas', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.18182;
  letter-spacing: -0.04em;
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 60px;
    line-height: 1.06667;
  }
}
