.cookie-banner-section {
  box-shadow: 0 14px 42px rgba(8, 15, 52, 0.06);
  background: #0c0c13;
  border: 1px solid #f00;
  border-radius: 20px;
  width: 100%;
  max-width: 335px;
  padding: 47px 15px 20px 15px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    max-width: 1272px;
    padding: 52px 48px 52px 138px;
    align-items: center;
  }
}

.cookie-close-btn {
  position: absolute;
  top: 26px;
  right: 28px;
  background-color: transparent;
  outline: none;
  border: none;
  width: 14px;
  height: 14px;

  @include media(desktop) {
    top: 50%;
    transform: translateY(-50%);
    right: 48px;
  }
}

.cookie-banner-text {
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #fff;
  margin-bottom: 37px;
  padding-left: 22px;

  @include media(desktop) {
    font-size: 18px;
    line-height: 1.66667;
    max-width: 648px;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.cookie-banner-buttons {
  display: flex;
  align-items: center;
  gap: 18px;

  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    margin-left: 67px;
  }
}

.cookie-accept-btn {
  box-shadow: 0 3px 12px rgba(74, 58, 255, 0.18);
  background: #fff;
  border-radius: 56px;
  padding: 18px 26px;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  color: #0c0c13;
  width: 100%;
  max-width: 174px;

  @include media(desktop) {
    padding: 15px 26px;
    width: 196px;
  }
}

.cookie-decline-btn {
  box-shadow: 0 4px 8px rgba(74, 58, 255, 0.08);
  background: #0c0c13;
  border: 1px solid #fff;
  border-radius: 56px;
  padding: 18px 26px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #fff;
  width: 100%;
  max-width: 110px;

  @include media(desktop) {
    padding: 15px 26px;
    width: 196px;
  }
}

.show-cookie-banner {
  display: block;

  @include media(desktop) {
    display: flex;
  }
}
