.footer {
  padding-top: 22px;
  padding-bottom: 22px;

  @include media(desktop) {
    padding-top: 47px;
    padding-bottom: 47px;
  }
}

.footer-wrapper {
  @include media(desktop) {
    display: flex;
  }
}

.footer-title-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44444;
  text-transform: uppercase;
  text-align: center;
  color: #f00;

  @include media(desktop) {
  }
}

.footer-text {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66667;
  text-align: center;
  color: #fff;
  margin-bottom: 12px;

  @include media(desktop) {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 0;
    margin-left: auto;
  }
}

.footer-br {
  @include media(desktop) {
    display: none;
  }
}

.footer-nav {
  @include media(desktop) {
    margin-left: 30px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media(desktop) {
    flex-direction: row;
  }
}

.footer-list-item {
  @include media(desktop) {
    position: relative;

    &:not(:last-child) {
      padding-right: 0.5em;
      margin-right: 0.5em;

      &::after {
        content: '|';
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

.footer-link {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
  }

  &:hover,
  &:focus {
  }
}
