.lab-section {
  padding-top: 80px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 109px;
  }
}

.lab-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.lab-container {
  padding-left: 0;
  padding-right: 0;
}

.lab-swiper-container {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.lab-swiper-container.show {
  visibility: visible;
}

.lab-swiper-wrapper {
  display: flex !important;
  gap: 0;

  @include media(desktop) {
  }
}

.lab-slide {
  width: 100% !important;
  max-width: 335px;
  display: flex !important;
  justify-content: center;

  @include media(desktop) {
    max-width: 800px;
  }
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  margin-top: 30px;
  margin-bottom: 50px;

  @include media(desktop) {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

.lab-dot {
  width: 11px;
  height: 11px;
  transition: transform 0.3s ease-in-out;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}

.lab-dot.active {
  background-color: #f00;
}

.lab-text {
  padding: 0 20px;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #fff;

  @include media(desktop) {
    padding: 0 120px;
    text-align: center;
  }
}
