.context-menu {
  display: none;
  backdrop-filter: blur(22px);
  background: rgba(255, 255, 255, 0.1);
  padding: 60px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 52px;
  left: 0;
  right: 0;
  transform: none;
  z-index: 10;
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  text-align: left;
}

.context-list-link {
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:active {
    color: #f00;
  }
}

.is-open {
  display: flex;

  @include media(desktop) {
    display: none;
  }
}

.closed {
  display: none;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
