<section class="collaborators-section section" id="collaborators">
  <div class="collaborators-section-wrapper">
    <div class="container collaborators-container">
      <h2 class="collaborators-title section-title">
        People Who Helped, Sometimes By Breaking Things
      </h2>
      <div class="collaborators-swiper-container">
        <ul class="swiper-wrapper collaborators-swiper-wrapper">
          <li class="swiper-slide collaborators-slide">
            <img
              class="collaborators-img"
              src="./img/collaborators/collaborators-img1-mob.png"
              alt="Avatar"
              width="276"
              height="200"
              loading="lazy"
            />
            <h3 class="collaborators-item-name">Eeva Karu</h3>
            <p class="collaborators-item-text">
              circuit designer who still insists the Core has moods
            </p>
          </li>
          <li class="swiper-slide collaborators-slide">
            <img
              class="collaborators-img"
              src="./img/collaborators/collaborators-img2-mob.png"
              alt="Avatar"
              width="276"
              height="200"
              loading="lazy"
            />
            <h3 class="collaborators-item-name">Rasmus H.</h3>
            <p class="collaborators-item-text">
              sound tech who records silence for a living
            </p>
          </li>
          <li class="swiper-slide collaborators-slide">
            <img
              class="collaborators-img"
              src="./img/collaborators/collaborators-img3-mob.png"
              alt="Avatar"
              width="276"
              height="200"
              loading="lazy"
            />
            <h3 class="collaborators-item-name">LightArc Systems</h3>
            <p class="collaborators-item-text">
              lent us gear after seeing a demo go wrong
            </p>
          </li>
        </ul>
      </div>
      <p class="collaborators-text">
        None of this was sponsored.<br class="collaborators-text-br" />
        Most of it was borrowed.
      </p>
    </div>
  </div>
</section>
