<footer class="footer">
  <div class="container footer-container">
    <div class="footer-wrapper">
      <a class="footer-title-link" href="./">megacorezen.pro</a>
      <p class="footer-text">
        megacorezen.pro © 2025 —<br class="footer-br" />
        All rights reserved
      </p>
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-list-item">
            <a class="footer-link" target="_blank" href="policies.pdf#page=1"
              >Privacy Policy
            </a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" target="_blank" href="policies.pdf#page=7"
              >Terms & Conditions
            </a>
          </li>
          <li class="footer-list-item">
            <a class="footer-link" target="_blank" href="policies.pdf#page=11"
              >Cookies Policy
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
