<section class="pricing-section section" id="pricing">
  <div class="pricing-section-wrapper">
    <div class="container pricing-container">
      <h2 class="pricing-title section-title">
        Pay for Time Inside,<br />
        Not for Drama Outside
      </h2>
      <div class="pricing-swiper-container">
        <ul class="swiper-wrapper pricing-swiper-wrapper">
          <li class="swiper-slide pricing-slide">
            <svg class="question-icon" width="120" height="120">
              <use href="./img/sprite.svg#icon-question"></use>
            </svg>
            <h3 class="pricing-item-title">Standard Run</h3>
            <p class="pricing-item-price">€79 / person</p>
            <ul class="pricing-features-list">
              <li class="pricing-features-item">60 min</li>
              <li class="pricing-features-item">2 min players.</li>
            </ul>
          </li>
          <li class="swiper-slide pricing-slide">
            <svg class="question-icon" width="120" height="120">
              <use href="./img/sprite.svg#icon-question"></use>
            </svg>
            <h3 class="pricing-item-title">Extended Protocol</h3>
            <p class="pricing-item-price">€229 / group</p>
            <ul class="pricing-features-list">
              <li class="pricing-features-item">
                90 min with data feedback<br />
                (optional)
              </li>
            </ul>
          </li>
          <li class="swiper-slide pricing-slide">
            <svg class="question-icon" width="120" height="120">
              <use href="./img/sprite.svg#icon-question"></use>
            </svg>
            <h3 class="pricing-item-title">Custom Study Runs</h3>
            <p class="pricing-item-price">
              quote <span class="pricing-item-span">on request</span>
            </p>
            <ul class="pricing-features-list">
              <li class="pricing-features-item">for teams or universities</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
